.App{
  margin: 20px;
}

.form{
  display: flex;
  flex-direction: column;
}


.formContainer{
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 15px;
}

.imageContainer{
  columns: 300px 3;
  column-gap: 10px;
}
